@import "ui-variables";
@import "syntax-variables";

/**
 * Tab bar
 */
.icon-emoji-syntax::before {
	content: '🛠';
	display: inline-block;
}

/**
 * <emojisyntax-settings> - Emoji settings window
 */
emojisyntax-settings {
	overflow: scroll;
	background-color: @base-background-color;
	padding: 25px 5%;

	&.emoji-overlay header,
	&.emoji-overlay .settings-content {
		opacity: 0.4;
		pointer-events: none;
	}

	&.emoji-overlay .settings-overlay {
		display: block;
	}

	header {
		margin-bottom: 25px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h1 {
			font-size: 3em;
		}

		h3 {
			font-style: italic;
			color: @text-color-subtle;
		}
	}

	.settings-overlay {
		display: none;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
	}

	.settings-content {
		display: flex;
		justify-content: space-between;
		position: relative;
		z-index: 1;
	}

	.settings-config {
		width: 75%;
	}
}

/**
 * <emojisyntax-catalog> - List of all emoji
 */
emojisyntax-catalog {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 3;
	transform: translate(-50%, -50%);
	padding: 0 !important;
	display: none;

	 &.show-custom {
		.list-emoji-custom { display: block; }
		.current img { display: inline-block; }
		.list-emoji-native, .current span { display: none; }
	 }

	.select-list:not(.current) {
		max-height: 600px;
		width: 400px !important;
		overflow-y: scroll;
	}

	.emoji-overlay & {
		display: block;
	}

	// Sections
	section:first-of-type h2 {
		margin-top: 0;
	}

	h2 {
		text-transform: capitalize;
		margin: 10px 0 0;
		padding: 10px;
		background: @button-background-color;
		cursor: pointer;
	}

	.list {
		list-style: none;
		padding: 0;
		display: none;
		flex-wrap: wrap;
		padding: 10px;

		&.list-open { display: flex; }
	}

	li {
		&:hover {
			background: @button-background-color;
		}

		div {
			padding: 2px;
			cursor: pointer;
		}

		span {
			font-size: 175%;
		}

		.list-emoji-custom {
			display: none;
			background-repeat: no-repeat;
			background-size: contain;
			color: transparent;
			width: 1.3em;
			height: 1.3em;
		}
	}

	// Current
	.current {
		background: @button-background-color !important;
		margin-bottom: 20px;
		padding: 0 !important;
		width: 100% !important;

		h2 {
			display: inline-block;
			margin-bottom: 0;
			color: @text-color-selected;
			cursor: text;
		}

		span {
			margin-left: 10px;
			font-size: inherit;
		}

		img {
			margin-left: 10px;
			display: none;
			width: 1.2em;
			height: 1.2em;
		}
	}
}

/**
 * <emojisyntax-directory> - List of languages
 */
emojisyntax-directory {
	width: 22%;
	position: relative;

	li {
		margin-bottom: 15px;
	}

	button {
		margin-left: 15px;
		position: relative;

		&.selected:before {
			background-color: transparent !important;
		}
	}

	input {
		width: 20px !important;
		height: 20px !important;
		cursor: pointer;

		&:before, &:after {
			top: 14px !important;
			left: 8.4px !important;
		}
	}
}

/**
 * Emoji Panel
 */
emojisyntax-panel {
	border-radius: @component-border-radius;
	margin-bottom: 15px;
	overflow: hidden;
	display: block;
	position: relative;

	&:not(:first-of-type) {
		display: none;
	}

	&.is-inactive {
		opacity: .3;

		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 1;
			background: transparent;
			cursor: not-allowed;
		}
	}

	header {
		border: none;
		background: @background-color-selected;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0;
		margin: 0;

		.btn {
			margin-right: 15px;
		}
	}

	h2 {
		color: @text-color-highlight;
		margin: 0;
		font-weight: bold;
		padding: 15px;
	}

	table {
		width: 100%;
		background-color: @tool-panel-background-color;
		position: relative;
		padding: @component-padding / 2;
		border-bottom-right-radius: @component-border-radius;
		border-bottom-left-radius: @component-border-radius;
	}

	table th,
	table td {
		text-align: center;
	}

	thead th {
		padding: 10px;
		border-bottom: 1px solid @inset-panel-background-color;
	}

	table td {
		background-color: @input-background-color;
	}

	table tr:not(:last-of-type) {
		border-bottom: 1px solid @inset-panel-background-color;
	}

	.badge {
		font-size: 16px !important;
		display: inline-flex;
		padding: 7px 8px 3px;
		cursor: pointer;
		border: 0;
	}

	[emoji-style="native"] & .emoji-native {
		display: block;
	}

	.emoji-native {
		display: none;
		font-size: 16px;
	}

	[emoji-style="native"] & .emoji-unicode {
		display: none;
	}

	.emoji-unicode {
		display: block;
		background-size: contain;
		background-repeat: no-repeat;
		width: 16px;
		height: 16px;
		vertical-align: middle;
	}
}

/**
 * <emojisyntax-keyword> - Keyword view
 */
emojisyntax-keyword {
	display: block;
	line-height: @component-line-height;
	background: @input-background-color;

	&:not(:last-of-type) {
		margin-bottom: 5px;
	}

	h3 {
		margin: 0 10px 0 0;
		display: inline-block;
	}

	.emoji-options {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-around;
		padding: @component-padding / 2;

		div {
			display: inline-block;
			margin-bottom: 0;
		}

		div:first-of-type button {
			font-size: 1em;

			&::before {
				font-size: 20px;
				width: 20px;
				height: 20px;
			}
		}
	}

	.badge {
		font-size: 16px !important;
		display: inline-flex;
		padding: 7px 8px 3px;
		cursor: pointer;
		border: 0;
	}

	.emoji-native {
		display: block;
		font-size: 16px;
	}

	.emoji-unicode {
		display: none;
		background-size: contain;
		background-repeat: no-repeat;
		width: 16px;
		height: 16px;
		vertical-align: middle;
	}
}
